@using CsharpMVCTest.Models
@model CsharpMVCTest.Models.myLittleViewModel
@{
    ViewBag.Title = "xx";
    Layout = null;
}

<h2>xx</h2>

@UiHelper.Cascade(Model)
@{
    DOMProperty aa = new DOMProperty() { tagName = "div", styleName = "font-size:20px;background-color: #878787;", className = "" };
    for (int i = 0; i < 5; i++)
    {
        var a = CsharpMVCTest.Models.UiHelper<int>.mkDOM(i, aa);
        @a
        @CsharpMVCTest.Models.UiHelper.mkDOM(i, aa);
    
    }
}