@using CsharpMVCTest.Models
@{
    Layout = null;
}

@helper Cascade(myLittleViewModel model)
{
    <div onclick='$("@model.randomID").slideToggle();'>@model.Date <span class="caret"></span></div>
    <div id="aa">
        @foreach (var item in model.examSubject)
        {
            <div style="background-color: #f2dede;">@item.subject</div>
        }
    </div>
}
